<header>
    <nav>
        <div class="nav-wrapper">
            <ul class="hide-on-large-only">
                <li>
                    <a class="sidenav-trigger" href="#" data-target="mobile-menu"><i class="material-icons">menu</i></a>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="mobile-menu" class="sidenav sidenav-fixed">
        <li class="logo">
            <a id="logo-container" class="brand-logo" href="https://questionando-se.github.io">
                <img src="https://questionando-se.github.io/assets/images/logo-black.svg" />
            </a>
        </li>
        <li>
            <a href="https://questionando-se.github.io"><i class="material-icons">home</i>Início</a>
        </li>
        <li>
            <a href="{{ site.url }}"><i class="material-icons">book</i>Documentação</a>
        </li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Importantes</a></li>
        <li>
            <a href="{{ site.url }}/question.html"><i class="material-icons">check_box</i>Arquivo de Questões</a>
        </li>
    </ul>
</header>
<div class="header-colored"></div>